.form_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(222, 222, 222);
}

.searchForm {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* padding: 0px; */
  /* margin: 0px; */
  /* margin: auto; */
}

/* .form_container {
  width: 100%;
} */

.searchInput {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 75%;
  /* max-width: 100%; */
  height: 1.4rem;
}

.summaryButton {
  cursor: pointer;
  border: 1px solid #4488af;
  background-color: #4488af;
  color: white;
  border-radius: 12px;
  width: 7rem;
}

.summaryButton:hover {
  border: 1px solid #3a6aa7;
  background-color: #3a6aa7;
}

.exportButton {
  cursor: pointer;
  border: 1px solid #4488af;
  background-color: #4488af;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 12px;
  padding: 0.7rem 0.3rem;
  width: 7rem;
}

.exportButton:hover {
  border: 1px solid #3a6aa7;
  background-color: #3a6aa7;
}
